language: python
python:
  - '3.6'

before_script:
  - pip install -r requirements.txt

branches:
  only:
    - travisbranch

env: DJANGO_SETTINGS_MODULE="purbeurre.settings.travis"

services:
  - postgresql

script:
  - python purbeurre/manage.py test purbeurre

