Package              Version   
-------------------- ----------
asgiref              3.2.3     
beautifulsoup4       4.8.2     
certifi              2019.11.28
chardet              3.0.4     
Django               3.0.1     
django-bootstrap4    1.1.1     
django-tinymce4-lite 1.7.5     
idna                 2.8       
jsmin                2.2.2     
pip                  19.3.1    
pkg-resources        0.0.0     
psycopg2-binary      2.8.4     
pytz                 2019.3    
requests             2.22.0    
setuptools           45.1.0    
soupsieve            1.9.5     
sqlparse             0.3.0     
tqdm                 4.41.1    
urllib3              1.25.7    
wheel                0.33.6    
