
{% extends 'main/homepage.html' %}
{% block content %}
{% load bootstrap4 %}

  <!-- About Section -->
  <section class="page-section bg-primary" id="about" style="height: 16em;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            {% if total != "0" %}
          <h2 class="text-white mt-0">Nous avons trouvé {{total}} aliment(s) pouvant être des alternatives intéressantes</h2>
            {% else %}
          <h2 class="text-white mt-0">Nous n'avons pas trouvé d'alternative crédible</h2>
            {% endif %}
        </div>
      </div>
    </div>
  </section>
  <section>
<header class="masthead" style="padding-top:10px">
<div class="row justify-content-center align-items-center " style="margin-top: 1%;" >
  {% if count != 0 %}
        {% for aliment in aliments %}
        <div class="card m-3 flex align-items-stretch" style="width: 23rem; height: 19rem;">
        {% if aliment.nutriscore == 'a' %}
        <div class='nutri' style="width: 40px;border-style: solid; border-color: aliceblue; height: 40px;text-align: center; color:white;background-color: green; border-radius: 50%; margin-left: 95%;margin-top: -5%; position:absolute; padding-top: 6px;">{{aliment.nutriscore|upper}}</div>
        {% elif aliment.nutriscore == 'b' %}
        <div class='nutri' style="width: 40px;border-style: solid; border-color: aliceblue; height: 40px;text-align: center; color:white;background-color: #32CD32; border-radius: 50%; margin-left: 95%;margin-top: -5%; position:absolute; padding-top: 6px;">{{aliment.nutriscore|upper}}</div>
        {% elif aliment.nutriscore == 'c' %}
        <div class='nutri' style="width: 40px;border-style: solid; border-color: aliceblue; height: 40px;text-align: center; color:white;background-color: #FFD700; border-radius: 50%; margin-left: 95%;margin-top: -5%; position:absolute; padding-top: 6px;">{{aliment.nutriscore|upper}}</div>
        {% elif aliment.nutriscore == 'd' %}
        <div class='nutri' style="width: 40px;border-style: solid; border-color: aliceblue; height: 40px;text-align: center; color:white;background-color: #FFA500; border-radius: 50%; margin-left: 95%;margin-top: -5%; position:absolute; padding-top: 6px;">{{aliment.nutriscore|upper}}</div>
        {% elif aliment.nutriscore == 'e' %}
        <div class='nutri' style="width: 40px;border-style: solid; border-color: aliceblue; height: 40px;text-align: center; color:white;background-color:  #FF0000; border-radius: 50%; margin-left: 95%;margin-top: -5%; position:absolute; padding-top: 6px;">{{aliment.nutriscore|upper}}</div>
        {% endif %}
        <div class="card-body" style="text-align: center;">
            <img class="card-img-top mx-auto d-block" src="{{aliment.image}}" alt="Card image cap" style="width: 160px; height: 160px;">
          <h5 class="card-title" style="margin-top: 20px;">{{aliment.name|slice:":27" }}...</h5>
          <h6 class="card-subtitle mb-2 text-muted">Marque: {{aliment.brands|slice:":30"}}</h6>
          <a href="{% url 'main:infos' aliment_id=aliment.id %}" class="card-link"><i class="fa fa-info-circle" style="font-size:18px"></i>
            Infos</a>
          {% if user.is_authenticated %}
          <a href="{% url 'main:save_aliment' aliment_id=aliment.id %}" class="card-link"  style="padding-left: 90px;"><i class="fas fa-save fa-2x"></i>
            Sauvegarder</a>
          {% else %}
          {% endif %}
        </div>
        </div>
          {% endfor %}
      {% endif %}
</div>


<div class="pagination justify-content-center align-items-center" >
{% if aliments.has_other_pages %}
    <ul class="pagination">
        {% if aliments.has_previous %}
            <li class="waves-effect"><a href="?page=
                    {{ aliments.previous_page_number }}{% if request.GET.aliments %}&aliments={{ request.GET.aliments }}{% endif %}"><i
                    class="material-icons" style="margin-right: 10px;"> précédents </i></a></li>
        {% else %}
            <li class="disabled"><a href="#!"><i class="material-icons" style="margin-right: 10px;"> précédents</i></a></li>
        {% endif %}
        {% if aliments.has_next %}
            <li class="waves-effect"><a
                    href="?page={{ aliments.next_page_number }}{% if request.GET.aliments %}&aliments={{ request.GET.aliments }}{% endif %}"><i
                    class="material-icons" style="margin-left: 10px;">  suivants</i></a></li>
        {% else %}
            <li class="disabled"><a href="#!"><i class="material-icons" style="margin-left: 10px;"> suivants</i></a></li>
        {% endif %}
    </ul>
{% endif %}
</div>
</header>
</section>
{% endblock %}



